*.o
*.d
*.iobj
*.ipdb
*.class
V4/DARIC.exe
V4/DARIC.ilk
V4/DARIC.pdb
V4/WindowsDARIC/.vs/
V4/WindowsDARIC/Debug/
V4/WindowsDARIC/Release/
V4/src/parser/bison.cpp
V4/src/parser/flex.cpp
V4/src/parser/bison.cpp
V4/DARICInstaller/setup.exe
V4/DARICInstaller/DARIC.msi
V4/buildriscos/
V4/buildriscosvfp/
V5/buildriscos/
V5/buildriscosvfp/
V5/DARICWebAssembly/bin
V5/DARICWebAssembly/obj

V5/DARIC.exe
V5/DARIC.ilk
V5/DARIC.pdb
V5/DARIC/.vs/
V5/DARIC/Debug/
V5/DARIC/Release/
V5/DARIC/obj
*.dll
*.obj
*.log
*.tlog
*.idb
*.pdb
*.exe
*.recipe
*.ilk
*.dll
*.dll
V5/antlr4-runtime.dll
V5/DARICInstaller/Release/DARICInstaller.msi
*.lib
*.exp
*.cache
*.sarif
